@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhaijaan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    overflow-x: hidden;
}
.content-box{
    background: linear-gradient(rgba(242, 66, 245,.09),rgba(102, 66, 245, 0.09)),url(../images/one\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    /* position: relative; */
    width: 100vw;
    height: 100vh
}
.menu{
    display: inline-flex;
    
}
.menu img{
    /* display: inline-flex; */
    height: 50px;
    margin:20px 0 0 110px;
    cursor: pointer;

}
.menu button{
    padding: 10px 12px;
    background-color: #ff4d73;
    font-size: 10px;
    border: 0;
    position: absolute;
    right: 10%;
    top: 5%;
    color: #fff;
    border-radius: 12px;
}
.menu button .fa{
    margin-right: 10px;
}

.banner-text{
    width: 100%;
    color: #fff;
    margin: 16% auto 0;
    margin-left: 16%;
}
.banner-text h2{
    margin-top: 50px;
    font-size: 64px;


}
.banner-text p{
    margin-top:20px 0 50px;
    font-size: 14px;


}



