

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color:#fa00e1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.container img{
    margin-top: 13px;
    margin-bottom: 12px;
    width: 100px;
    height: 100px;
}
.btn{
    background-color: rgb(219, 209, 209);
    color: rgb(250, 23, 174);
    font-size: 23px;
    font-weight: bold;
    padding: 12px 15px;
    border: 3px solid rgb(231, 13, 13);
    outline: none;
    
}
.modal{
    text-align: center;
    background-color: #fff;
    border: 2px solid beige;
    padding: 23px 12px;
    position: absolute;
    top: -25%;
    left: 33%;
    transform: translate(-50%,-50%),scale(.1);
    visibility: hidden;
    transition: transform .4s,top .4s;
    
}
.open-modal{
    visibility: visible;
    top: 11%;
    /* left: 33%; */
    
    transform: translate(50%,50%),scale(1);


}