@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhaijaan+2&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
        font-family: 'Baloo Bhaijaan 2', cursive;
}
#header{
    height: 100vh;
    background-image: url(../img/cqtegories.jpg);
    background-position: center center;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;

}
.logo{
    margin-top: 23px;
    /* width: 100px; */
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 38px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    /* color: red; */
    margin: 15px 0px;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.header-text .button{
    margin-top: 5px;
}
.line{
    line-height:12px ;
    margin-top: 12px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 40px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

#sideNav{
    width: 180px;
    height: 100vh;
    background: #f67c92;
    position: fixed;
    right: -250px;
    bottom: 0px;
    z-index: 2;
    transition: .5;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    /* list-style: none;
    margin: 50px 20px; */
    text-decoration: none;
    color: white;
}
#menuBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 65px;
    top:23px;
    z-index: 2;
}

/* about section */

#about{
    padding: 80px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}
.about-left-col{
    /* border: 2px solid black; */
    flex-basis: 50%;
}
.about-col-left img{
    flex-basis: 50%;
    width: 100%;
}
.about-right-col{
    /* border: 2px solid red; */
    flex-basis: 50%;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    text-align: right;
}
/* about section end */

/* features section start */
#features{
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 2px solid black; */
}
.features-row{
   width: 80%;
   margin:auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.features-col{
    flex-basis: 25%;
    text-align: center;
}
.features-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    /* flex-basis: 25%;
    text-align: center; */
}
.features-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* features section end */

/* courese section start */

#courses{
    padding: 100px 0px;
}
.courses-row{
    /* padding: 100px 0px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* courese section end */