*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    font-family: sans-serif;
    position: relative;
}
nav{
    /* border: 2px solid black; */
    width: 84%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;

}
nav ul li{
    display: inline-block;
    list-style: non;
    margin: 10px 20px;
}
nav ul li a{
   text-decoration: none;
   color: #606163;
}
nav ul li a:hover{
  color: #ff4321;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: #212121;
    margin-bottom: 20px;

}
span{
color: #ff4321;    

}
.info p{
    color: #606163;
    line-height: 22px;
}
.info a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 12px;
    margin: 12px 0;
    background-color: #601613;
    color: #0006;
    border-radius: 12px;
}
.back-img{
    width: 50%;
    height: 80%;
    position: absolute;
    /* bottom: 0px; */
    bottom: 40%;
    right: 100px;
}
.back-img img{
    /* width: 50%;
    height: 80%; */
    height: 50%;
    width: 50%;
    
    position: absolute;
    bottom: 0px;
    /* right: 100px; */
    left: 50%;
    /* transform: translateX(-50%); */
}